################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Solution1/.vs/Solution1/v16/Browse.VC.opendb
/Lab_vectors/.vs/Lab_vectors/v16/Browse.VC.opendb
/asymptotics/.vs/asymptotics/v16/Browse.VC.opendb
/sorting/.vs/sorting/v16/Browse.VC.opendb
