################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Solution1/.vs/Solution1/v16/Browse.VC.opendb
